# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# ==========================
# Entorno virtual
# ==========================
.venv/
venv/
env/

# ==========================
# Variables de entorno
# ==========================
.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Pytest
# ==========================
.pytest_cache/

# ==========================
# Cobertura
# ==========================
.coverage
htmlcov/